@import "./../../mixin/card.scss";

.container-favourite {
  padding: 5px 10px 5px 10px;
  @include for-desktop-up {
    padding: 1% 15% 1% 15%;
  }

  &__title {
    font-size: 25px;
    @include for-desktop-up {
      display: none;
    }
  }
  &__song-title {
    display: none;
    @include for-desktop-up {
      display: flex;
      font-size: 25px;
    }
  }

  .container__cards {
    @include for-desktop-up {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}
