.container-header {
  height: 20%;
  border: 1px solid #fdfdfd;
  padding: 2%;
  width: 96%;
  &__logo {
    margin-left: 45%;
    height: 40px;
    width: 40px;
  }
  &__loop {
    height: 30px;
    width: 30px;
    margin-left: 30%;
    margin-bottom: 2px;
  }
  &__search {
    display: none;
  }
}

@media (min-width: 1200px) {
  .container-header {
    &__logo {
      height: 40px;
      width: 40px;
    }
    &__loop {
      display: none;
    }
    &__search {
      display: none;
      width: 30%;

      &--input {
        width: 100%;
        border-radius: 5px 5px;
      }
    }
  }
}
