@import "./../../mixin/card.scss";

.container-header {
  height: 45px;
  background: #383737;
  width: 98%;
  padding: 1%;
  @include for-desktop-up {
    height: 35px;
  }

  &__logo {
    margin-left: 45%;
    height: 40px;
    width: 40px;
  }
}
