@import "./../../mixin/card.scss";

.container-welcome {
  padding-left: 15px;
  padding-right: 15px;
  height: 70%;
  @include for-desktop-up {
    padding: 1% 15% 1% 15%;
  }

  &__title {
    margin-top: 20%;
    @include for-desktop-up {
      margin-top: 3%;
    }
  }
  &__h1 {
    font-size: 40px;
  }
  &__text {
    margin: 40px 0px 40px 0px;
    color: #beb8b8;
    @include for-desktop-up {
      margin-right: 35%;
    }
  }
}
