@import './../../mixin/card.scss';

.container-header{
    padding: 5px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10%;
  background:#383737;
 
    
  &__form{
      height: 20%;
      z-index: 1;
      background:#383737;
      padding: 10px 10px 10px 10px;

  }
  &__nav{
      display: flex;
      flex-direction: column;
  }
 
}