

.navbar__button{
    background: #383737;
    border-style: none;
    width: 45px;
    height: 45px;
    &--sicon{
        width: 25px;
    height: 25px;


    }
    &--aicon{
        margin-top: -10px;
        width: 15px;
    height: 15px;


    }
}