@import "./../../../mixin/card.scss";

.container__card {
  @include for-desktop-up {
    width: 45%;
    padding: 1px 1px 1px 15px;
  }

  @include container-card;
  &--img {
    img {
      @include img;
    }
  }
  &__info {
    @include info;
    &--title {
      @include title;
      @include for-desktop-up {
        display: none;
      }
    }
    &--song-title {
      display: none;
      @include for-desktop-up {
        display: block;
        font-size: 25px;
      }
    }
    &--content {
      @include content;
      @include for-desktop-up {
        display: block;
      }
    }
  }
}
