@import "./mixin/card.scss";

.App {
  background: #282828;
  font-family: "Nunito", sans-serif;
  color: #e0e0e0;
  padding: 5px;
}

@media (min-width: 1200px) {
  .App {
    padding: 1% 15% 1% 15%;
  }
}
