@import "./../../mixin/card.scss";
.album-container {
  display: flex;
  flex-direction: row;
  margin-top: 5%;

  padding-right: 10px;
  height: 80%;
  &__img {
    @include img;
    @include for-desktop-up {
      width: 150px;
      height: 150px;
    }
  }

  &__content {
    @include info;
    &--genre {
      margin-top: 7px;
    }
    &--title {
      margin: 1px;
    }
  }
}
